<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="border-color: green;">
            <h3 class="geo-map-title" style="text-align: left;">{{title}}</h3>
            <div class="map-container">
                <div class="legend-box">
                    <table>
                        <tr>
                            <td><div class='box first'></div></td>
                            <td>Between 0% than 25%</td>
                        </tr>
                        <tr>
                            <td><div class='box second'></div></td>
                            <td>Between 25% and 50%</td>
                        </tr>
                        <tr>
                            <td><div class='box third'></div></td>
                            <td>Between 50% and 75%</td>
                        </tr>
                        <tr>
                            <td><div class='box fourth'></div></td>
                            <td>Between 75% and 100%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
