body {
  font-family: 'Indie Flower', cursive;
}

div.map {
  border-color: navy;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}

svg.map {
  fill: blanchedalmond;
  stroke: white;
}

.page-title {
  margin-top: 30px;
  text-align: center;
}
