<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">COVID-19 tests performed in Europe Statistics</h2>
        </div>
    </div>
<!--    <div class="row" style="margin-left: 100px; margin-right: 100px;">
        <div class="col-md-12">
            <app-year-slider></app-year-slider>
        </div>
    </div>-->
    <div class="row" style="margin-left: 110px">
        <div class="col-md-6">
            <app-scatter-plot></app-scatter-plot>
        </div>
        <div class="col-md-6">
            <app-choropleth-map-eu></app-choropleth-map-eu>
        </div>
    </div>
    <div class="row" style="margin-top: 30px; margin-left: 110px">
        <div class="col-md-6">
            <app-line-chart id="lineChart"></app-line-chart>
        </div>
        <div class="col-md-6">
            <app-area-chart id="areaChart"></app-area-chart>
        </div>
    </div>
</div>
