<div style="margin-left: 70px;">
    <table>
        <tr>
            <td>
                <div>
                    <div class='box red'></div>
                    <label style="margin-left: 10px;">NEW DEATHS</label>
                </div>
            </td>
            <td>
                <div style="padding: 3px;">
                    <div class='box blue'></div>
                    <label style="margin-left: 10px;">NEW CASES in {{selectedCountry}}</label>
                </div>
            </td>
        </tr>
    </table>
</div>

<div id="ui-area-chart" width="960px" height="500px"></div>
